:root {
    --color-blanco: rgb(235, 235, 235);
    --color-negro: rgb(0, 0, 0);
    --color-boton-seleccionado: rgb(155, 245, 143);
    --color-texto-blanco: white;
    --color-texto-negro: black;
    --color-boton-blanco: rgb(196, 196, 196);
}

.todo {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000;
}

.sinOverflow {
    overflow: hidden;
}

.dark {
    background-color: rgb(15,15,15);
}

.light {
    background-color: rgb(235,235,235);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all .2s; */
    font-family: Kanit;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

html, body {
    width: 100%;
    height: 100vh;
}

body {
    background-color:var(--color-blanco);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.container-dentro {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

header, main, footer {
    background-color: rgb(255, 255, 255);
    margin: 10px 25px 10px 25px;
    box-shadow:
        5px 5px 10px rgba(109, 73, 73, 0.1),
        10px 10px 20px rgba(0, 0, 0, 0.1),
        15px 15px 30px rgba(0, 0, 0, 0.1),
        20px 20px 40px rgba(0, 0, 0, 0.1),
        25px 25px 50px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
}

main > .container-dentro{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 20px;
    max-width: auto;
    grid-template-columns: repeat(1, 100%);
}

.up, .down {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.up * {
    margin: 0 3px 0 3px;
}

.up {
    margin-bottom: 10px;
}

.logo, .buscador, .lupa {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo, .lupa {
    width: 20px;
}

.buscador .input {
    height: 100%;
}

.buscador .input input {
    height: 100%;
    border: none;
    background-color: var(--color-blanco);
    border-radius: 10px;
    padding: 10px 20px;
}

.menu-desplegable {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-desplegable button {
    width: 30%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

header img {
    width: 100%;
    height: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

.producto-foto {
    min-height: 300px;
    max-height: 300px;
    max-width: 100%;
}

.producto {
    border: 1px solid var(--color-negro);
    margin: 20px 0;
    display: grid;
    grid-template-rows: 100px 300px 100px;
    justify-items: center;
    width: 100%;
}

.desc {
    width: 100%;
    max-width: 300px;
    max-height: 100px;
    padding: 10px;
}

.descripcion {
    max-width: 300px;
    max-height: 100px;
    min-height: 100px;
    overflow-y: auto;
}

.titulo, .precio {
    text-align: center;
    padding: 10px;
}

.titulo {
    min-height: 0;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.precio {
    margin-top: 10px;
    font-size: 25px;
}

button:hover {
    cursor: pointer;
}

.whatsapp {
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 163, 0);
    border-radius: 10px;
    color: var(--color-texto-blanco);
    padding: 10px;
    margin: 20px;
    margin-top: 0;
    text-decoration: none;
}

.whatsapp i {
    font-size: 30px;    
}

.carrousel-botones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.carrousel-botones button {
    margin-top: 20px;
    width: 15%;
    border: none;
    background-color:var(--color-boton-blanco);
    border-radius: 5px;
    color: var(--color-texto-blanco);
    font-size: 20px;
    position: absolute;
    top: calc(50% - 25px);
}

#carrousel-der {
    right: 5px;
}
#carrousel-izq {
    left: 5px;
}

.theme {
    cursor: pointer;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    main > .container-dentro{
        grid-template-columns: repeat(2, 45%);
        align-items: self-start;
    } 

    .container {
        width: 70%;
    }

    .producto {
        font-size: 12px;
        grid-template-rows: 100px 200px 100px;
    }

    .contacto img {
        width: 50px;
    }

    .producto-foto {
        min-width: 200px;
        max-width: 200px;
        min-height: 200px;
        max-height: 200px;
    }

    main > .container-dentro{
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1200px) {
    main > .container-dentro {
        max-width: 100%;
        grid-template-columns: repeat(3, 30%);
    }
}

.dark {
    background-color: rgb(15,15,15);
    color: white;
}

.dark-section {
    background-color: rgb(40,40,40);
}

.dark-text {
    color: var(--color-texto-blanco);
}

.dark-border {
    border-color: var(--color-blanco);
}

.dark-background-light {
    background-color: rgb(100,100,100);
}

.dark-pebe {
    background-color: rgb(100,100,100) !important;
}

.dark-input::-webkit-input-placeholder {
    color: white;
}
